@model EventVisitors_MVC.Models.RegistrationClass

@{
    ViewBag.Title = "RegistrationUser";
}



<h2>RegistrationUser</h2>

<form action="http://193.10.202.76/api/visitorlogin" method="post">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
<div>
    @Html.ActionLink("Registrera mig", "RegistrationUser", "Registration")
</div>
