@model EventVisitors_MVC.Models.ProfilesClass

@{
    ViewBag.Title = "RegistrationUser";
}

<h2>Registreringsformulär</h2>
<form action="http://193.10.202.76/api/visitor" method="post">
    <input type="text" name="Firstname" placeholder="Firstname" />
    <input type="text" name="Lastname" placeholder="Lastname" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="password" name="Password" placeholder="Password" />
    <input type="text" name="Role" placeholder="Role" />
    <button type="submit">Lägg till</button>
</form>

<div>
    <!--Html.ActionLink("Back to List", "Index")-->
</div>
